<!DOCTYPE html>
<style>
body {
    font-family: Arial, Helvetica, sans-serif;
}

p, body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: firebrick
}
li {
    padding: 0.5em;
}
</style>
</html>
